{% extends 'base.html' %}

{% block content %}
<div class="big-center-thing position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="bg-light-op6 col-md-5 p-lg-5 mx-auto my-3">
    <h1 class="display-4 font-weight-normal">Aleşii Noştri</h1>
    <p class="lead font-weight-normal mb-5">Află pe cine am votat împreună. Pe acest site găseşti cine sunt consilierii locali, consilierii judeţeni, parlamentarii şi europarlamentarii noştri.</p>
    <p class="mb-0 pb-0">Imagine: Bogdan Maran/Mediafax Foto - Mii de români care stau la coadă să voteze la Londra în 2014.</p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"><a href="/alegeri-parlamentare-2020">
    <div class="my-3 py-3">
      <h2 class="display-5">Vezi candidaţii la parlamentare</h2>
      <p class="lead">Alegerile vor fi pe 6 decembrie 2020.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2e/Palace_Of_Parliament_Bucharest.jpg); background-repeat: no-repeat; background-position: 50% 25%;"></div></a>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"><a href="/alegeri-locale-2020">
    <div class="my-3 p-3">
      <h2 class="display-5">Vezi noii aleşi la locale</h2>
      <p class="lead">Alegerile au fost pe 27 septembrie 2020.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8b/Prim%C4%83ria_Municipiului_Oradea.jpg); background-repeat: no-repeat; background-position: 50% 80%;"></div></a>
  </div>
</div>

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3"> -->
<!--   <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> -->
<!--     <div class="my-3 p-3"> -->
<!--       <h2 class="display-5">Vezi parlamentarii noştri</h2> -->
<!--       <p class="lead">Alegerile au fost pe 11 decembrie 2016, iar mandatul lor se termină în ianuarie 2021.</p> -->
<!--     </div> -->
<!--     <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
<!--   </div> -->
<!--   <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"> -->
<!--     <div class="my-3 py-3"> -->
<!--       <h2 class="display-5">Vezi europarlamentarii noştri</h2> -->
<!--       <p class="lead">Alegerile au fost pe 26 mai 2019. Mandatul este de 5 ani.</p> -->
<!--     </div> -->
<!--     <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; -->
<!--     background-image: url(https://live.staticflickr.com/2927/14473527669_727f26b694_b.jpg); background-repeat: no-repeat; background-position: 50% 40%;"></div> -->
<!--   </div> -->
<!-- </div> -->

{% endblock %}
